*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    background-color: aquamarine;
    min-height: 100vh;
    border: 2px solid mediumblue;
}
.content{
    max-width: 900px;
    margin:0 auto;
}
.top_section{
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
}
.top_section h1{
    font-size: 60px;
    font-weight: bold;
    color:chocolate;
    text-transform: uppercase;
}
.top_section h4{
text-align: end;
font-size: 20px;
}
.image_container{
    border-radius: 50%;
    overflow:hidden;
}
.image_container,img{
    width: 300px;
    height:320px;
}
.about_section{
    margin-top:80px;
}
.about_section h2{
    font-size:40px;
    font-weight: 700;
    margin-bottom:20px;
    text-align: justify;
}
.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: normal;
}
.career_section{
    margin-top:50px;
}
.career_section h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.career_section p{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: normal;
}
footer{
    margin:50px 0;
}
footer p{
text-align: end;
}